<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_student</title>
</head>
<body>
    <center>
        <h1>display_student</h1>
        <table border="2px">
            <tr><th>SID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            </tr>
            {% for x in SO %}
            <tr><td>{{x.sid}}</td>
                <td>{{x.name}}</td>
                <td>{{x.age}}</td>
                <td>{{x.email}}</td>
                <td>{{x.password}}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
    
</body>
</html>